@page "/"
@model InfoSales.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - InfoSales</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InfoSales.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main-content mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form method="post">
                        <h2 class="text-center">Login Here</h2>
                        <div class="all-border">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Username" class="form-control" />
                                <label asp-for="Input.Username"></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Password"></label>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-lg btn-success col-md-12">Login</button>
                            </div>
                            <div class="col-md-8 mt-4">
                                <a asp-page="#">Forgot your password?</a>
                            </div>
                            <div class="col-md-8 mt-4">
                                <a asp-page="/Register">Register as a new user</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-5 no-layout-footer">
        <div class="container">
            &copy; 2024 - InfoSales - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
